* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    color: black;
    text-decoration: none;
}
body {
width: 100vw;
height: 100vh;


}

body .projeto{
    margin-top: 10%;
    margin-left: 25%;
}

.main{
    position: fixed;
    width: 70vw;
    height: 40vh;
    background-color: #d9d9d9;
    color: #fff;
    padding: 20px;
    box-sizing: border-box; 
}
body .main{
    margin-top: 25%;
    margin-left: 25%;
}

body {
    width: 100vw;
    height: 100vh;
   
}

main{
    background-color: black;
}

body .sidebar{
    margin-top: 25%;
    margin-left: 5%;
}

.logo img{
    background-color: #f2f2f2;
    margin-left: 4%;
    margin-top: 13%;
    width: 30vh;
}

.imagemfundo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url(FORTES.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 50% 
}

.user {
    justify-content: flex-start;
    display: flex;
    font-weight: bold;
    margin-top: 3%;
    margin-left: 5%;
    position: fixed;
    width: 260px; 
    height: 70px;
    background-color: #d9d9d9;
    color: #fff;
    padding: 20px;
    box-sizing: border-box; 
}

.home {
    display: flexbox;
 
    padding: 10px 0;
    font-weight: bold;
    margin-top: 3%;
    margin-left: 25%;
    position: fixed;
    width: 70vw; 
    height: 70px;
    background-color: #d9d9d9;
    color: #fff;
    padding: 20px;
    box-sizing: border-box; 
}

.user img{
    width: 15%;
}
.user a{
    margin-left: 20px;
}

.sidebar {
    position: fixed;
    width: 250px;
    height: 40vh;
    background-color: #d9d9d9;
    color: #fff;
    padding: 20px;
    box-sizing: border-box; 
}

.projeto{
    position: fixed;
    width: 70vw; 
    height: 200px;
    background-color: #d9d9d9;
    color: #fff;
    padding: 10px;
    box-sizing: border-box; 
}

.projeto button{
    display: inline;
    margin-inline: 8%;
    background-color: #10458B;

    color: #fff;
    border: none;
    padding: 10px 10px;
    cursor: pointer
}

.sidebar button {
    margin-top: 15px;
    display: block; 
    width: 100%;
    height: 30px;
    margin-bottom: 15px;
    background-color: #10458B;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    text-align: center; 
}

.sidebar button:hover {
    background-color: #0d57b8;
}
.projeto button:hover {
    background-color: #0d57b8;
}
a{
    color:#F2F2F2;
}