body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
   background-image: url(fundo.png);
  }
  
  a{
    color:#F2F2F2;
  }
  header {
    display: flexbox;
   height: 105px;
    color: rgb(0, 0, 0);
    padding: 10px 0;
    text-align: center;
  }
  
  .container {
  height: 100vh;
    width: 100vw;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #1d19193f;
    
  }
  
  .logo {
    font-size: 3em;
    font-weight: bold;
  }
  
  nav {
    height: 20px;
    background-color: #033E8C;
width: 100vw;
    color: white;
    padding: 10px 0;
    text-align: center;
   display: flex;
    justify-content: center;
    border-bottom: 10px;
  }
  
  .navegacao {
    padding: 0 10px;
    color: #f1f1f1;
  }
  .navegacao2 {
color: #f1f1f1;
display: flex;

  }
  
  img {
width:100vw;
height: 100vh;
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(37, 14, 14, 0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    background-color: #033E8C;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-color: #04BF7B;
    border: #04BF7B;
  }
  
  .dropdown-content a:hover {
    background-color: #f1f1f1;
    border-color: #04BF7B;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .login {
    background-color: #033E8C;
    color: white;
    padding: 5px 10px;
    border-radius: 15px;
    text-decoration: none;
    position: absolute;
    right: 20px;
  }
  
  .login:hover {
    background-color: #0069d9;
  }
  
  